body {
	max-width: 960px;
	margin: auto;
}


/* Header */

header {
	font-family: "Economica", sans-serif;
}

top_header {
	margin-bottom: 0;
}

bottom-header {
	margin-top: 0;
}

.break {
	border-width: 2px;
	border-color: darkgrey;
	margin: 0;
}

.logo {
	margin: 20px;
	height: 100px;
}

.header-text {
	float: right;
	text-align: right;
}


/* Images */

.big {
	margin: 20px auto;	
}


/* Featured Work */

.work {
	text-align: center;
}

.item {
	text-transform: uppercase;
}

.section-header {
	margin: 15px;
	color: lightgray;
}