body {
	max-width: 960px;
	margin: auto;
}

header {
	font-family: 'Economica', sans-serif;
}

top-header {
	margin-bottom: 0;
}

bottom-header {
	margin-top: 0;
}

.break {
	border-width: 2px;
	border-color: darkgrey;
	margin: 0;
}

.logo {
	margin: 20px;
	height: 100px;
}

.header_text {
	float: right;
	text-align: right;
}

.big {
	max-width: 960px;
	width: auto;
	margin: 20px 0;
}

.small {
	max-width: 300px;
	width: auto;
}

.work {
	text-align: center;
}

.item {
	text-transform: uppercase;
}

.section-header {
	margin: 15px;
	color: lightgray;
}